/*  your css code here. If applicable */
nav{
   
    
    padding: 10px;
    
    background-color: #D3D3D3 ;
}
nav ul{
    float: right;
}
nav li{
    display: inline-block;
    list-style: none;
	margin-right: 1rem;
}
