/*  your css code here. If applicable */
.container{
	 padding: 10px;
}
nav{
   padding: 10px;
    background-color: rgb(211,211,211) ;
}
nav ul{
	float: center
    
	display: flex;
}
nav li{
	display: flex;
    display: inline;
    list-style: none;
	margin-right: 1rem;
}
